# SPDX-FileCopyrightText: 2023 Rivos Inc.
#
# SPDX-License-Identifier: Apache-2.0

# Binaries for programs and plugins
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out


# Go workspace file
go.work
build/
venv/
vendor
.vscode/
tmp*
.env
coverage.html
coverage.out
.DS_Store
dist
**/__debug_bin*
